In [2]:
from Bio import SeqIO
import pandas as pd
import re

In [3]:
import pandas as pd
def clean_strain_names(id):
    output_id = id.strip()
    output_id = re.sub(r'\s', '_', output_id)
    output_id = re.sub(r"'", '-', output_id)
    output_id = re.sub(r'ñ', 'n', output_id)
    output_id = re.sub(r'ã', 'a', output_id)
    return output_id

In [4]:
output_seqs = list()

with open("h3n2/data/raw/south_america_Jun2018_Now.fasta") as handle:
    for record in SeqIO.parse(handle, "fasta"):
        id = record.id.split("|")[0]
        id = clean_strain_names(id)
        seq = str(record.seq)
        output_seqs.append([id,seq])

In [5]:
# with open("h3n2/data/clean/south_america_clean.fasta", "w") as output_handle:
#     SeqIO.write(output_seqs, output_handle, "fasta")

In [6]:
output_df = pd.DataFrame(output_seqs, columns=["id", "seq"])
output_df.head()

,id,seq
0,A/Santa_Catarina/927/2019,agcaaaagcaggggataattctattaaccatgaagactatcattgc...
1,A/Rio_de_Janeiro/416/2020,agcaaaagcaggggataattctattaaccatgaagactatcattgc...
2,A/Santa_Catarina/965/2019,agcaaaagcaggggataattctattaaccatgaagactatcattgc...
3,A/Santa_Catarina/947/2019,agcaaaagcaggggataattctattaaccatgaagactatcattgc...
4,A/Santa_Catarina/1127/2019,agcaaaagcaggggataattctattaaccatgaagactatcattgc...